.page {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.page > * {
  margin-bottom: 24px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0;
  border: 0;
  background: var(--white);
}

.list > * {
  padding-bottom: 10px;
}

.list > *:last-child {
  padding-bottom: 0;
}
